@import url(../css/main.css);

.holy-grail-layout{
    font-family: 'Work Sans', sans-serif;
    gap: var(--space-lg);
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    background-color: var(--background-day);
    color: var(--primary-font);
    grid-template-columns: 16rem auto;
    grid-template-rows: 6rem auto 6rem;
    grid-template-areas:
        "side-nav top-nav"
        "side-nav content"
        "side-nav cta-footer"
} 

.side-nav{
    grid-area: side-nav;
}

/* Sidebar Starts  */
.side-nav{
    padding: var(--space-sm) var(--space-lg);
    position: sticky;
    top: 0rem;
    justify-content: start;
    max-height: 100vh;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
    color: var(--secondary-font);
    border-radius: 0 var(--space-sm) var(--space-sm) 0;
}


.side-nav::-webkit-scrollbar {
    display: none;
  }

.sub-title{
    color: var(--primary);
    font-weight: bold;
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--space-xs);
    background-color: var(--green-hover);
}

.sub-list-items{
    margin-bottom: var(--space-xs);
    display: flex;
    justify-content:flex-start;
    align-items: end;
    padding: var(--space-xs) 0;
}

.sub-list-items span{
    margin-right: var(--space-sm);
}

/* Sidebar Ends  */


.content{
    grid-area: content;
    max-width: 85%;
    margin: 0 var(--space-lg) 0 var(--space-xs);
}

.cta-footer{
    grid-area: cta-footer;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: var(--space-lg);
}

.component-container{
    border: solid 2px var(--gray-opaque);
    border-radius: var(--space-xs);
    padding: var(--space-md) var(--space-lg);
}

p{
    color: var(--secondary-font);
}

@media  only screen and  (max-width: 780px) {
    .holy-grail-layout{
        display: grid;
        max-width: 100%;
        background-color: var(--background-day);
        grid-template-columns: 1fr;
        grid-template-areas:
            "top-nav top-nav"
            "content content"
            "cta-footer cta-footer"
    }
    .side-nav{
        display: none;
    }
    .top-nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        margin-left: var(--space-sm);
        margin-top: var(--space-sm);
    }
    .nav-links{
        text-align: center;
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .nav-item{
        margin-left: 0;
    }
    .content{
        margin-left: var(--space-sm);
    }
    .cta-footer{
        margin-left: var(--space-sm);
    }
}

