/* font-family: 'Martel', serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Work Sans', sans-serif; */


/*Text color*/
.txt-primary{
    color: var(--primary-font-night)
}

.txt-secondary{
    color: var(--secondary-font-night);
}

.txt-error{
    color: var(--cherry);
}

.txt-info{
    color: var(--blue);
}

.txt-warn{
    color: var(--orange);
}

.txt-success{
    color: var(--green);
}

/*text sizes*/
.txt-sm{
    font-size: var(--fs-sm);
    line-height: 1rem;
}

.txt-label{
    font-size: var(--fs-label);
    line-height: 1rem;
}

.txt-md{
    font-size: var(--fs-md);
    line-height: 1.5rem;
}

.txt-lg{
    font-size: var(--fs-lg);
    line-height: 2rem;
}

.txt-xlg{
    font-size: var(--fs-xlg);
    line-height: 2.5rem;
}

.txt-xxlg{
    font-size: var(--fs-xxlg);
    line-height: 4rem;
}

/* Text weight */
.txt-light{
    font-weight: 300;
}

.txt-regular{
    font-weight: 400;
}

.txt-semibold{
    font-weight: 600;
}

.txt-bold{
    font-weight: 800;
}

.txt-gray{
    color: var(--gray);
}

/* Text alignments  */

.txt-center{
    text-align: center;
}

.txt-left{
    text-align: left;
}

.txt-right{
    text-align: right;
}