/* ************************Themes********************************  */

.night-theme{
    background-color: var(--background-night);
    color: var(--primary-font-night);
}

.day-theme{
    background-color: var(--background-day);
    color: var(--primary-font);
}

/*************************Padding******************************* */

.pd10{
    padding: 0.625rem;
}

.pd20{
    padding: 1.25rem;
}

.pd30{
    padding: 1.875rem;
}

/*************************Margins***********************************/

.mg10{
    margin: 0.625rem;
}

.mg20{
    margin: 1.25rem;
}

.mg30{
    margin: 1.875rem;
}

/* Gaps-marginal space at top */
.gap-u10{
    margin-top: 0.625rem;
}

.gap-u20{
    margin-top: 1.25rem;
}

.gap-u30{
    margin-top: 1.875rem;
}

/* Gaps-marginal space at right */
.gap-r10{
    margin-right: 0.625rem;
}

.gap-r20{
    margin-right: 1.25rem;
}

.gap-r30{
    margin-right: 1.875rem;
}

/* Gaps-marginal space at botton */
.gap-d10{
    margin-bottom: 0.625rem;
}

.gap-d20{
    margin-bottom: 1.25rem;
}

.gap-d30{
    margin-bottom: 1.875rem;
}

/* Gaps-marginal space at left */
.gap-l10{
    margin-left: 0.625rem;
}

.gap-l20{
    margin-left: 1.25rem;
}

.gap-l30{
    margin-left: 1.875rem;
}

/*************************Borders***********************************/

.bod1{
    border:solid 1px var(--accent);
}

.bod2{
    border:solid 2px var(--accent);
}
.bod3{
    border:solid 3px var(--accent);
}

.bod-error{
    border-color:var(--cherry);
}

.bod-success{
    border-color:var(--green);
}

.bod-info{
    border-color:var(--blue);
}

.bod-warning{
    border-color:var(--orange);
}

.bod-circle{
    border-radius: 50%;
}

.bod-sm-round{
    border-radius: 0.5rem;
}

.bod-md-round{
    border-radius: 0.8rem;
}

.bod-lg-round{
    border-radius: 1rem;
}
/*************************Display, Flex and Grid***********************************/

.block{
    display: block;
}

.inline{
    display: inline;
}

.inline-block{
    display: inline-block;
}

.flex{
    display: flex;
}

.flex-vertical{
    display: flex;
    flex-direction: column;
}

.children-centered{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid{
    display: grid;
}

.hide{
    display: none;
}

/*************************Width and Height***********************************/
.w-100{
    width: 100%;
}

.w-90{
    width: 90%;
}

.w-80{
    width: 80%;
}

.w-75{
    width: 75%;
}

.w-50{
    width: 50%;
}

.h-100{
    height: 100;
}

.h-full{
    height: 100vh;
}

/*************************Shadows***********************************/
.shadow-all{
    box-shadow: 0 10px 35px rgb(0 0 0 / 10%)
}