.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-aligned{
    justify-content: flex-start;
}

.top-nav{
    grid-area: top-nav;
    margin-right: var(--space-lg);
}

.brand-logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: var(--fs-lg);
}

.brand-img{
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.nav-links{
    color: var(--primary-font);
    text-align: end;
}

.nav-item{
    margin-left: var(--space-lg);
}